
<!--p>Footer Goes Here</p-->


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9OezS-Uu39FPJCxUeAHZTKEXyUc1Q_bQ">
</script>
<script	src="//static.liqpay.com/libjs/checkout.js"></script>
<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<!--<script type="text/javascript"  src="./Frontend/src/main.js"> </script>-->
<div class="discount-badge-grand-container">
    <div class="discount-badge-container"></div>
    <div class="discount-triangle-1"></div>
    <div class="discount-triangle-2"></div>
</div>
